mat-dialog-content {
    font-size: 16px;
}

mat-dialog-actions {
    margin-top: 0 !important;
}

hr {
    margin: 2% 0% 1% 0%;
    padding: 1% 0% 1% 0%;
    border: none;
    border-top: 1px solid #e0e0e0;
}

mat-dialog-actions {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

button {
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    width: 30%;
}

.mat-dialog-title {
    margin: 0;
    padding: 0;
}